/* div {
  outline: 1px solid #036cdb !important;
} */
.footerBody {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}
.home-footer-container {
  background: #2a2049;
  color: #fff;
}
.home-footer-container .main-footer-container {
  padding: 4rem min(6.25rem, 7%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 95rem;
  margin: 0 auto;
}
.main-logo-container {
  margin-bottom: 10px;
}
.home-footer-container .description-container {
  margin-right: 1rem;
  flex: 1;
}
.home-footer-container .links-container {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}
.home-footer-container .links-container .links {
  display: flex;
  flex-direction: column;
  margin: 0 2rem -1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
}
.home-footer-container .sign-up-container {
  flex: 1;
}
.home-footer-container .sign-up-container .message {
  font-family: "Plus" Jakarta Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1rem;
}
.home-footer-container .sign-up-container .sign-up {
  padding: 0.875rem 1.25rem;
  border: 1px solid #300566;
  border-radius: 0.375rem;
  font-weight: 600;
}
.links a {
  color: white;
  margin: 3px;
}
.copyright-container[data-v-a3f518b0] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  background: #171421;
}
.sign-up {
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  background: #683fbe;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.sign-up:hover {
  background-color: #ffffff;
  color: #300566;
  transition: 0.7s;
}
