.navbar-custom {
  background-color: #171421;
}
.navbar {
  padding: 0.5% 7% 0.5%;
  /* max-width: 100rem; */
  box-sizing: border-box;
  margin: 0px;
  justify-content: space-between;
  min-height: 5rem;
}

.HeaderBtn {
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  background: #683fbe;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.HeaderBtn:hover {
  background-color: #ffffff;
  transition: 0.7s;
}

.nav-link {
  color: #ffffff;
}
.dropdown-menu {
  background-color: rgb(45, 1, 84);
}
.dropdown-item {
  color: #ffffff;
}
.dropdown-item:hover {
  background-color: rgb(94, 23, 156);

  color: #ffffff;
}
.dropend .dropdown-toggle {
  color: rgb(45, 1, 84);
  margin-left: 1em;
}

.dropdown .dropdown-menu {
  display: none;
}
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
}
@media screen and (min-width: 1049px) {
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .dropend .dropdown-toggle {
    margin-left: 0.5em;
  }
}
