.content-container {
  position: relative;
  max-width: 90rem;
  margin: 0 auto;
  padding: 5rem calc(min(6.25rem, 6.94%));
  color: var(--text-default);
  z-index: 2;
  overflow: hidden;
}
.section-title {
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 130%;
  background: linear-gradient(92.96deg, #482a8a -4.67%, #744dca 84.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 2.5rem;
  text-align: center;
}
.content-container .transition-courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -1rem;
}
.transition-courses .transition-course-card-container {
  margin: 1rem;
}
.transition-course-card-container {
  background: var(--background-default);
  border: 1px solid var(--border-default);
  box-shadow: 0 0 20px 10px rgba(144, 112, 213, 0.1);
  border-radius: 0.625rem;
  overflow: hidden;
  width: 30.25rem;
}
.transition-course-card-container .thumbnail-container {
  position: relative;
  height: 13rem;
  width: inherit;
  overflow: hidden;
}
.thumbnail-container .play-overlay img {
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: transform 0.5s;
}
.thumbnail-container .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
.play-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: rgba(23, 20, 33, 0.7);
}
.course-start-time {
  padding: 0.625rem 1rem;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 93.3%, 0.6),
    hsla(0, 0%, 93.3%, 0)
  );
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date-container {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 1rem;
  line-height: 125%;
  color: #2a194c;
}
.date-container .date {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
}
.course-title-container {
  padding: 1.25rem 1.5rem 2.5rem 1rem;
  border-bottom: 1px solid var(--border-default);
}
.course-title-container .course-title {
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 135%;
  color: #171421;
  margin-bottom: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.course-title-container .course-description {
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--text-subdued);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.transition-course-card-container .instructors-mentors {
  transform: translateY(-1.125rem);
}
.instructors-mentors .heading {
  background: #f9f6ff;
  border-radius: 1.875rem;
  padding: 0.5rem 1rem;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 135%;
  color: var(--text-subdued);
  margin: 0 auto 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.instructors-mentors .heading span {
  color: #683fbe;
}
.instructors-mentors .image-container {
  margin: 0 1rem;
  height: 3rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.transition-course-card-container .instructors-mentors .image-container img {
  height: inherit;
  width: auto;
}
