.max-width-container {
  padding: 0 min(6.25rem, 6.94%);
}
.teach-passion-banner-container {
  margin: 6rem 3.25rem 0;
}
.teach-passion-banner-container {
  background: linear-gradient(145.07deg, #683fbe -2.83%, #493080 89%);
  box-shadow: 0 0.625rem 1.25rem 0.625rem rgba(104, 63, 190, 0.1);
  border-radius: 0.75rem;
  padding: 1.5rem 3.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.textual-part .heading-container {
  width: 125%;
}
.heading-container .image-container {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #533298;
  box-shadow: 1px 1px 2rem rgba(144, 112, 213, 0.4);
  border-radius: 0.75rem;
  margin-right: 1.5rem;
  position: relative;
  float: left;
  z-index: 2;
}
.image-container .rocket {
  font-size: 1.75rem;
  line-height: 140%;
}
.heading-container .card-heading {
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  color: #fff;
  margin-bottom: 0.5rem;
}
.heading-container .text {
  text-align: left;
  font-size: 1rem;
  line-height: 150%;
  color: #eee;
}
.filled.primary[data-v-91eb3b7c] {
  --base-color: var(--white);
  --hover-color: var(--white);
  background: var(--action-primary-active);
}
.button-container .right-icon[data-v-91eb3b7c] {
  margin-left: 0.25rem;
  display: flex;
}
.button-container[data-v-91eb3b7c] {
  --base-color: var(--primary-p500);
  --hover-color: var(--primary-p600);
  --disabled-color: var(--neutrals-n500);
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 143%;
  white-space: nowrap;
  color: var(--base-color);
}
