@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
.Hp3LineEffect {
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, #ffffff, #5511e9 50%, #ffffff);
}
.Hp3heading {
  color: #5522c2;
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  font-size: 2rem;
  line-height: 162%;
  margin: -1.625rem auto 0;
  padding: 0 2rem;
  background: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.rbt-cat-box-1 {
  display: block;
}
.rbt-cat-box-1 .inner {
  background-color: var(--color-white);
  box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
  border-radius: 5%;
  padding: 50px 40px;
}
.inner .icons {
  margin-bottom: 20px;
}
.inner .icons img {
  border-radius: var(--radius-10);
  max-height: 80px;
}
span .rbt-btn-link {
  color: #f200ff;
  position: relative;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}
span.rbt-btn-link::after {
  position: absolute;
  content: "";
  left: auto;
  bottom: 0;
  background: currentColor;
  width: 0;
  height: 2px;
  transition: 0.3s;
  right: 0;
}
